<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happyjob.study.supcus.dao.SupCusReturnHmDao">

	<select id="selectProductInfo" resultType="kr.happyjob.study.supcus.model.SupCusReturnHmModel">

		SELECT
		tb_retList.retNo,tb_retList.loginID,tb_retList.retADate,tb_retList.retEsts,tb_product.prodName
		FROM tb_retList

		INNER JOIN tb_cOrder ON tb_cOrder.coNo=tb_cOrder.coNo

		INNER JOIN tb_product
		ON tb_product.prodNo=tb_cOrder.prodNo


		<where>
			AND tb_retList.retEsts='2' OR tb_retList.retEsts='3' 
			<if test="(checkBoxStatus != null) and (checkBoxStatus.equals('checked'))">
				AND tb_retList.retEsts= '2'
			</if>
			<if test="(searchKey != null) and (!searchKey.equals(''))">
				<choose>
			
					<when test="(searchKey != null) and (searchKey eq 'loginID'.toString())">
						AND tb_retList.loginID LIKE CONCAT('%', #{searchWord}, '%')
						<if test="(!startDate.equals('')) or (!endDate.equals(''))">
		  					<![CDATA[
		  						AND tb_retList.retADate >= DATE(#{startDate}) 
		  						AND tb_retList.retADate < DATE(#{endDate})+1
		  					]]>
						</if>
					</when>
					<when
						test="(searchKey != null) and (searchKey eq 'prodName'.toString())">
						AND tb_product.prodName LIKE CONCAT('%', #{searchWord}, '%')
						<if test="(!startDate.equals('')) or (!endDate.equals(''))">
		  					<![CDATA[
		  						AND tb_retList.retADate >= DATE(#{startDate}) 
		  						AND tb_retList.retADate < DATE(#{endDate})+1
		  					]]>
						</if>
					</when>
				</choose>
			</if>
		</where>
		GROUP BY tb_retList.retNo

		ORDER BY tb_retList.retNo DESC

		LIMIT #{startnum},#{pageSize}

	</select>

	<select id="searchlistcnt" resultType="int">
		SELECT COUNT(*)
		FROM
		(SELECT
		tb_retList.retNo,tb_retList.loginID,tb_retList.retADate,tb_retList.retEsts,tb_product.prodName
		FROM
		tb_retList
		INNER JOIN tb_cOrder ON tb_cOrder.coNo=tb_cOrder.coNo

		INNER JOIN tb_product
		ON tb_product.prodNo=tb_cOrder.prodNo

		<where>
				AND tb_retList.retEsts='2' OR tb_retList.retEsts='3' 
			<if test="(checkBoxStatus != null) and (checkBoxStatus.equals('checked'))">
				AND tb_retList.retEsts='2'
			</if>
			<if test="(searchKey != null) and (!searchKey.equals(''))">
				<choose>
					<when test="(searchKey != null) and (searchKey eq 'loginID'.toString())">
						AND tb_retList.loginID LIKE CONCAT('%', #{searchWord}, '%')
						<if test="(!startDate.equals('')) or (!endDate.equals(''))">
		  					<![CDATA[
		  						AND tb_retList.retADate >= DATE(#{startDate}) 
		  						AND tb_retList.retADate < DATE(#{endDate})+1
		  					]]>
						</if>
					</when>
					<when
						test="(searchKey != null) and (searchKey eq 'prodName'.toString())">
						AND tb_product.prodName LIKE CONCAT('%', #{searchWord}, '%')
						<if test="(!startDate.equals('')) or (!endDate.equals(''))">
		  					<![CDATA[
		  						AND tb_retList.retADate >= DATE(#{startDate}) 
		  						AND tb_retList.retADate < DATE(#{endDate})+1
		  					]]>
						</if>
					</when>
				</choose>
			</if>
		</where>

		GROUP BY tb_retList.retNo

		ORDER BY tb_retList.retNo DESC )
		tb_retList


	</select>
	  <select id="selectorderlist"
		resultType="kr.happyjob.study.supcus.model.SupCusReturnHmDetailModel">
		select
		retNo,prodName,retCnt,retPrice,(retPrice*retCnt),tb_userinfo.loginID,bankNo
		from tb_retList
   		  LEFT JOIN tb_cOrder ON tb_cOrder.coNo=tb_retList.coNo
    
  		  LEFT JOIN tb_userinfo
		ON
		tb_cOrder.loginID=tb_userinfo.loginID LEFT JOIN tb_product
		ON
		tb_cOrder.prodNo=tb_product.prodNo where retNo=#{retNo}
	</select>
	
	

	<select id="selectorderdetaillist"
		resultType="kr.happyjob.study.supcus.model.SupCusReturnHmDetailModel">

				select prodName,retCnt,retPrice,(retPrice*retCnt) from
		tb_retList
		LEFT JOIN tb_cOrder 
		ON tb_cOrder.coNo=tb_retList.coNo
		LEFT JOIN tb_userinfo
		ON tb_retList.loginID=tb_userinfo.loginID
		LEFT JOIN tb_product
		ON tb_cOrder.prodNo=tb_product.prodNo
 where
		retNo=#{retNo}


	</select>


	<update id="updeateinout">

		UPDATE tb_retList
		SET retEsts="3" ,retSts="1"
		

		WHERE retNo=#{retNo}

	</update>


</mapper>